기온 Temperatures  
현지기압 Local air pressure   
풍속 Wind speed  
일일 누적강수량 Daily cumulative precipitation  
해면기압 Barometric pressure  
일일 누적일사량 Cumulative Daily Insolation  
습도 Humidity  
풍향 Wind direction

In [7]:
import pandas as pd
import numpy as np

In [8]:
train = pd.read_csv("train.csv", encoding = "CP949")

In [10]:
pd.set_option("display.max_rows", len(train))
pd.set_option("display.max_columns", len(train.columns))

In [11]:
train.head(6)

,id,X00,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,0,9.7,988.8,1.2,0.6,0.0,1009.3,989.6,12.2,1009.9,1009.8,0.0,0.0,82.4,71.3,0.0,101.1,0.0,56.1,0.3,0.0,91.0,0.0,1002.5,1009.8,1.1,2.3,0.5,1008.7,12.3,1001.6,69.1,8.2,10.7,1010.1,0.0,256.4,0.0,77.2,62.6,0.0,12.5,11.5,11.0,20.0,20.0,10.5,10.0,10.5,10.0,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,1,9.3,988.9,1.7,1.9,0.0,1009.3,989.6,12.1,1010.0,1009.9,0.0,0.0,81.2,121.8,0.0,165.3,0.0,0.0,0.4,0.0,91.9,0.0,1002.5,1009.9,0.0,0.0,0.0,1008.7,12.1,1001.7,70.3,8.3,10.3,1010.1,0.0,215.4,0.0,77.3,63.5,0.0,12.5,11.0,11.0,20.0,20.0,10.0,9.5,10.0,9.5,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,2,9.4,989.0,1.1,2.3,0.0,1009.2,989.7,12.1,1010.1,1010.1,0.0,0.0,86.1,232.0,0.0,144.0,0.0,0.0,0.6,0.0,93.3,0.0,1002.4,1009.8,0.0,0.0,0.0,1008.6,12.1,1001.6,71.5,8.0,9.7,1010.0,0.0,235.2,0.0,77.3,63.9,0.0,12.0,11.0,11.0,19.5,19.5,10.0,9.0,10.0,9.0,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,3,9.4,988.9,1.5,0.7,0.0,1009.2,989.6,12.0,1010.0,1010.0,0.0,0.0,87.7,0.0,0.0,115.9,0.0,294.1,0.1,0.0,93.4,0.0,1002.4,1009.7,0.0,0.0,0.2,1008.7,12.1,1001.5,73.2,7.7,9.4,1010.1,0.0,214.0,0.0,77.5,64.5,0.0,12.0,11.0,11.0,19.5,19.5,9.5,9.0,9.5,9.0,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,4,9.2,988.9,0.8,1.7,0.0,1009.2,989.7,12.0,1010.1,1010.0,0.0,0.0,88.9,0.0,0.0,124.7,0.0,0.0,0.0,0.0,94.1,0.0,1002.4,1009.7,0.0,0.0,0.0,1008.7,12.0,1001.5,74.3,7.4,9.4,1010.1,0.0,174.9,0.0,78.0,65.0,0.0,12.0,10.5,10.5,19.0,19.5,9.5,8.5,9.5,8.5,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN
5,5,9.1,988.9,1.3,0.7,0.0,1009.1,989.6,12.0,1010.0,1010.0,0.0,0.0,90.7,222.0,0.0,174.2,0.0,0.0,0.2,0.0,94.6,0.0,1002.3,1009.7,0.0,0.0,0.0,1008.7,12.0,1001.5,75.7,7.3,9.1,1010.1,0.0,243.1,0.0,78.7,65.1,0.0,12.0,10.5,10.5,19.0,19.0,9.5,8.5,9.5,8.5,6.0,7.0,6.0,7.5,9.0,9.0,8.5,7.0,8.5,NaN

In [13]:
train2 = train.copy()
train2.rename( columns = {
    # 기온
    'X00' : 'temperatures_00',
    'X07' : 'temperatures_07',
    'X28' : 'temperatures_28',
    'X31' : 'temperatures_31',
    'X32' : 'temperatures_32',
    
    # 현지기압
    'X01' : 'local_air_pressure_01',
    'X06' : 'local_air_pressure_06',
    'X22' : 'local_air_pressure_22',
    'X27' : 'local_air_pressure_27',
    'X29' : 'local_air_pressure_29',
    
    # 풍속
    'X02' : 'wind_speed_02',
    'X03' : 'wind_speed_03',
    'X18' : 'wind_speed_18',
    'X24' : 'wind_speed_24',
    'X26' : 'wind_speed_26',
    
    # 일일 누적 강수량
    'X04' : 'daily_cumulative_precipitation_04',
    'X10' : 'daily_cumulative_precipitation_10',
    'X21' : 'daily_cumulative_precipitation_21',
    'X36' : 'daily_cumulative_precipitation_36',
    'X39' : 'daily_cumulative_precipitation_39',
    
    # 해면 기압
    'X05' : 'barometric pressure_05',
    'X08' : 'barometric pressure_08',
    'X09' : 'barometric pressure_09',
    'X23' : 'barometric pressure_23',
    'X33' : 'barometric pressure_33',

    
    # 일일 누적 일사량
    'X11' : 'cumulative_daily_insolation_11',
    'X14' : 'cumulative_daily_insolation_14',
    'X16' : 'cumulative_daily_insolation_16',
    'X19' : 'cumulative_daily_insolation_19',
    'X34' : 'cumulative_daily_insolation_34',
    
    # 습도
    'X12' : 'humidity_12',
    'X20' : 'humidity_20',
    'X30' : 'humidity_30',
    'X37' : 'humidity_37',
    'X38' : 'humidity_38',
    
    # 풍향
    'X13' : 'wind direction_13',
    'X15' : 'wind direction_15',
    'X17' : 'wind direction_17',
    'X25' : 'wind direction_25',
    'X35' : 'wind direction_35'
    
}, inplace = True)

In [14]:
train2.head(5)

,id,temperatures_00,local_air_pressure_01,wind_speed_02,wind_speed_03,daily_cumulative_precipitation_04,barometric pressure_05,local_air_pressure_06,temperatures_07,barometric pressure_08,barometric pressure_09,daily_cumulative_precipitation_10,cumulative_daily_insolation_11,humidity_12,wind direction_13,cumulative_daily_insolation_14,wind direction_15,cumulative_daily_insolation_16,wind direction_17,wind_speed_18,cumulative_daily_insolation_19,humidity_20,daily_cumulative_precipitation_21,local_air_pressure_22,barometric pressure_23,wind_speed_24,wind direction_25,wind_speed_26,local_air_pressure_27,temperatures_28,local_air_pressure_29,humidity_30,temperatures_31,temperatures_32,barometric pressure_33,cumulative_daily_insolation_34,wind direction_35,daily_cumulative_precipitation_36,humidity_37,humidity_38,daily_cumulative_precipitation_39,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,0,9.7,988.8,1.2,0.6,0.0,1009.3,989.6,12.2,1009.9,1009.8,0.0,0.0,82.4,71.3,0.0,101.1,0.0,56.1,0.3,0.0,91.0,0.0,1002.5,1009.8,1.1,2.3,0.5,1008.7,12.3,1001.6,69.1,8.2,10.7,1010.1,0.0,256.4,0.0,77.2,62.6,0.0,12.5,11.5,11.0,20.0,20.0,10.5,10.0,10.5,10.0,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,1,9.3,988.9,1.7,1.9,0.0,1009.3,989.6,12.1,1010.0,1009.9,0.0,0.0,81.2,121.8,0.0,165.3,0.0,0.0,0.4,0.0,91.9,0.0,1002.5,1009.9,0.0,0.0,0.0,1008.7,12.1,1001.7,70.3,8.3,10.3,1010.1,0.0,215.4,0.0,77.3,63.5,0.0,12.5,11.0,11.0,20.0,20.0,10.0,9.5,10.0,9.5,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,2,9.4,989.0,1.1,2.3,0.0,1009.2,989.7,12.1,1010.1,1010.1,0.0,0.0,86.1,232.0,0.0,144.0,0.0,0.0,0.6,0.0,93.3,0.0,1002.4,1009.8,0.0,0.0,0.0,1008.6,12.1,1001.6,71.5,8.0,9.7,1010.0,0.0,235.2,0.0,77.3,63.9,0.0,12.0,11.0,11.0,19.5,19.5,10.0,9.0,10.0,9.0,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,3,9.4,988.9,1.5,0.7,0.0,1009.2,989.6,12.0,1010.0,1010.0,0.0,0.0,87.7,0.0,0.0,115.9,0.0,294.1,0.1,0.0,93.4,0.0,1002.4,1009.7,0.0,0.0,0.2,1008.7,12.1,1001.5,73.2,7.7,9.4,1010.1,0.0,214.0,0.0,77.5,64.5,0.0,12.0,11.0,11.0,19.5,19.5,9.5,9.0,9.5,9.0,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,4,9.2,988.9,0.8,1.7,0.0,1009.2,989.7,12.0,1010.1,1010.0,0.0,0.0,88.9,0.0,0.0,124.7,0.0,0.0,0.0,0.0,94.1,0.0,1002.4,1009.7,0.0,0.0,0.0,1008.7,12.0,1001.5,74.3,7.4,9.4,1010.1,0.0,174.9,0.0,78.0,65.0,0.0,12.0,10.5,10.5,19.0,19.5,9.5,8.5,9.5,8.5,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN

In [15]:
X_columns = [
    'temperatures_00',
    'temperatures_07',
    'temperatures_28',
    'temperatures_31',
    'temperatures_32',
    
    'local_air_pressure_01',
    'local_air_pressure_06',
    'local_air_pressure_22',
    'local_air_pressure_27',
    'local_air_pressure_29',
    
    'wind_speed_02',
    'wind_speed_03',
    'wind_speed_18',
    'wind_speed_24',
    'wind_speed_26',

    'daily_cumulative_precipitation_04',
    'daily_cumulative_precipitation_10',
    'daily_cumulative_precipitation_21',
    'daily_cumulative_precipitation_36',
    'daily_cumulative_precipitation_39',
    
    'barometric pressure_05',
    'barometric pressure_08',
    'barometric pressure_09',
    'barometric pressure_23',
    'barometric pressure_33',

    'cumulative_daily_insolation_11',
    'cumulative_daily_insolation_14',
    'cumulative_daily_insolation_16',
    'cumulative_daily_insolation_19',
    'cumulative_daily_insolation_34',
    
    'humidity_12',
    'humidity_20',
    'humidity_30',
    'humidity_37',
    'humidity_38',
    
    'wind direction_13',
    'wind direction_15',
    'wind direction_17',
    'wind direction_25',
    'wind direction_35'
]

In [23]:
y_columns = list(set(train2.columns) - set(X_columns) - set(['id']))
y_columns.sort()
y_columns

['Y00',
 'Y01',
 'Y02',
 'Y03',
 'Y04',
 'Y05',
 'Y06',
 'Y07',
 'Y08',
 'Y09',
 'Y10',
 'Y11',
 'Y12',
 'Y13',
 'Y14',
 'Y15',
 'Y16',
 'Y17',
 'Y18']

In [26]:
train3 = train2.loc[ :,  X_columns + y_columns  ]
train3.head(3)

,temperatures_00,temperatures_07,temperatures_28,temperatures_31,temperatures_32,local_air_pressure_01,local_air_pressure_06,local_air_pressure_22,local_air_pressure_27,local_air_pressure_29,wind_speed_02,wind_speed_03,wind_speed_18,wind_speed_24,wind_speed_26,daily_cumulative_precipitation_04,daily_cumulative_precipitation_10,daily_cumulative_precipitation_21,daily_cumulative_precipitation_36,daily_cumulative_precipitation_39,barometric pressure_05,barometric pressure_08,barometric pressure_09,barometric pressure_23,barometric pressure_33,cumulative_daily_insolation_11,cumulative_daily_insolation_14,cumulative_daily_insolation_16,cumulative_daily_insolation_19,cumulative_daily_insolation_34,humidity_12,humidity_20,humidity_30,humidity_37,humidity_38,wind direction_13,wind direction_15,wind direction_17,wind direction_25,wind direction_35,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,9.7,12.2,12.3,8.2,10.7,988.8,989.6,1002.5,1008.7,1001.6,1.2,0.6,0.3,1.1,0.5,0.0,0.0,0.0,0.0,0.0,1009.3,1009.9,1009.8,1009.8,1010.1,0.0,0.0,0.0,0.0,0.0,82.4,91.0,69.1,77.2,62.6,71.3,101.1,56.1,2.3,256.4,12.5,11.5,11.0,20.0,20.0,10.5,10.0,10.5,10.0,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,9.3,12.1,12.1,8.3,10.3,988.9,989.6,1002.5,1008.7,1001.7,1.7,1.9,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1009.3,1010.0,1009.9,1009.9,1010.1,0.0,0.0,0.0,0.0,0.0,81.2,91.9,70.3,77.3,63.5,121.8,165.3,0.0,0.0,215.4,12.5,11.0,11.0,20.0,20.0,10.0,9.5,10.0,9.5,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,9.4,12.1,12.1,8.0,9.7,989.0,989.7,1002.4,1008.6,1001.6,1.1,2.3,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1009.2,1010.1,1010.1,1009.8,1010.0,0.0,0.0,0.0,0.0,0.0,86.1,93.3,71.5,77.3,63.9,232.0,144.0,0.0,0.0,235.2,12.0,11.0,11.0,19.5,19.5,10.0,9.0,10.0,9.0,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN

In [49]:
temp_li = [] # column별 데이터 묶기

temp_corr_li = [] # column별 데이터 corr 묶기

for i in range(0,36, 5):
    temp_df = train3.iloc[: , i : i+5 ]
    #print(temp_df.columns[0][:-3])
    #print()
    temp_li.append( temp_df )
    temp_corr_li.append( temp_df.corr() )
    #print()

In [36]:
temp_corr_li[0]

,temperatures_00,temperatures_07,temperatures_28,temperatures_31,temperatures_32
temperatures_00,1.000000,0.957922,0.941699,0.961053,0.963055
temperatures_07,0.957922,1.000000,0.981081,0.954865,0.962826
temperatures_28,0.941699,0.981081,1.000000,0.935156,0.938572
temperatures_31,0.961053,0.954865,0.935156,1.000000,0.979312
temperatures_32,0.963055,0.962826,0.938572,0.979312,1.000000

In [41]:
temp_corr_li[1]

,local_air_pressure_01,local_air_pressure_06,local_air_pressure_22,local_air_pressure_27,local_air_pressure_29
local_air_pressure_01,1.000000,0.995284,0.996746,0.987752,0.996157
local_air_pressure_06,0.995284,1.000000,0.994807,0.995303,0.997819
local_air_pressure_22,0.996746,0.994807,1.000000,0.991352,0.997923
local_air_pressure_27,0.987752,0.995303,0.991352,1.000000,0.995237
local_air_pressure_29,0.996157,0.997819,0.997923,0.995237,1.000000

In [42]:
temp_corr_li[2]

,wind_speed_02,wind_speed_03,wind_speed_18,wind_speed_24,wind_speed_26
wind_speed_02,1.000000,0.384300,0.357250,0.417393,0.400025
wind_speed_03,0.384300,1.000000,0.481811,0.500993,0.537470
wind_speed_18,0.357250,0.481811,1.000000,0.607754,0.623131
wind_speed_24,0.417393,0.500993,0.607754,1.000000,0.634738
wind_speed_26,0.400025,0.537470,0.623131,0.634738,1.000000

In [43]:
temp_corr_li[3]

,daily_cumulative_precipitation_04,daily_cumulative_precipitation_10,daily_cumulative_precipitation_21,daily_cumulative_precipitation_36,daily_cumulative_precipitation_39
daily_cumulative_precipitation_04,1.000000,0.815176,0.934104,0.986345,0.747254
daily_cumulative_precipitation_10,0.815176,1.000000,0.796809,0.740117,0.813190
daily_cumulative_precipitation_21,0.934104,0.796809,1.000000,0.904654,0.868231
daily_cumulative_precipitation_36,0.986345,0.740117,0.904654,1.000000,0.676623
daily_cumulative_precipitation_39,0.747254,0.813190,0.868231,0.676623,1.000000

In [44]:
temp_corr_li[4]

,barometric pressure_05,barometric pressure_08,barometric pressure_09,barometric pressure_23,barometric pressure_33
barometric pressure_05,1.000000,0.991330,0.989875,0.997819,0.990969
barometric pressure_08,0.991330,1.000000,0.991651,0.994129,0.988586
barometric pressure_09,0.989875,0.991651,1.000000,0.988561,0.977810
barometric pressure_23,0.997819,0.994129,0.988561,1.000000,0.994468
barometric pressure_33,0.990969,0.988586,0.977810,0.994468,1.000000

In [45]:
temp_corr_li[5]

,cumulative_daily_insolation_11,cumulative_daily_insolation_14,cumulative_daily_insolation_16,cumulative_daily_insolation_19,cumulative_daily_insolation_34
cumulative_daily_insolation_11,1.000000,NaN,NaN,NaN,0.995187
cumulative_daily_insolation_14,NaN,NaN,NaN,NaN,NaN
cumulative_daily_insolation_16,NaN,NaN,NaN,NaN,NaN
cumulative_daily_insolation_19,NaN,NaN,NaN,NaN,NaN
cumulative_daily_insolation_34,0.995187,NaN,NaN,NaN,1.000000

In [52]:
temp_li[5].iloc[150: 180,  :]

,cumulative_daily_insolation_11,cumulative_daily_insolation_14,cumulative_daily_insolation_16,cumulative_daily_insolation_19,cumulative_daily_insolation_34
150,0.00,0.0,0.0,0.0,0.00
151,0.00,0.0,0.0,0.0,0.00
152,0.00,0.0,0.0,0.0,0.00
153,0.00,0.0,0.0,0.0,0.00
154,0.00,0.0,0.0,0.0,0.00
155,0.00,0.0,0.0,0.0,0.00
156,0.00,0.0,0.0,0.0,0.00
157,0.00,0.0,0.0,0.0,0.00
158,0.00,0.0,0.0,0.0,0.00
159,0.00,0.0,0.0,0.0,0.00
160,0.00,0.0,0.0,0.0,0.00
161,0.00,0.0,0.0,0.0,0.00
162,0.00,0.0,0.0,0.0,0.00
163,0.00,0.0,0.0,0.0,0.00
164,0.00,0.0,0.0,0.0,0.00
165,0.00,0.0,0.0,0.0,0.00
166,0.00,0.0,0.0,0.0,0.00
167,0.00,0.0,0.0,0.0,0.00
168,0.00,0.0,0.0,0.0,0.00
169,0.00,0.0,0.0,0.0,0.00
170,0.00,0.0,0.0,0.0,0.00
171,0.00,0.0,0.0,0.0,0.00
172,0.00,0.0,0.0,0.0,0.00
173,0.00,0.0,0.0,0.0,0.00
174,0.00,0.0,0.0,0.0,0.00
175,0.00,0.0,0.0,0.0,0.00
176,0.00,0.0,0.0,0.0,0.00
177,0.00,0.0,0.0,0.0,0.00
178,0.00,0.0,0.0,0.0,0.01
179,0.01,0.0,0.0,0.0,0.03

In [55]:
for i in range(len(temp_li[5].columns)) :
    print( temp_li[5].columns[i])
    print( temp_li[5].iloc[:,i].unique() )
    print( len(temp_li[5].iloc[:,i].unique()), "개 ")
    print()
    print()

cumulative_daily_insolation_11
[0.000e+00 1.000e-02 5.000e-02 ... 2.353e+01 2.362e+01 2.377e+01]
1507 개


cumulative_daily_insolation_14
[0.]
1 개


cumulative_daily_insolation_16
[0.]
1 개


cumulative_daily_insolation_19
[0.]
1 개


cumulative_daily_insolation_34
[0.000e+00 1.000e-02 3.000e-02 ... 2.212e+01 2.215e+01 2.216e+01]
1657 개

In [56]:
temp_li[5].iloc[:, [0,4]].corr()

,cumulative_daily_insolation_11,cumulative_daily_insolation_34
cumulative_daily_insolation_11,1.000000,0.995187
cumulative_daily_insolation_34,0.995187,1.000000

In [46]:
temp_corr_li[6]

             humidity_12  humidity_20  humidity_30  humidity_37  humidity_38
humidity_12     1.000000     0.937239     0.952855     0.908078     0.853899
humidity_20     0.937239     1.000000     0.928021     0.900590     0.855513
humidity_30     0.952855     0.928021     1.000000     0.921706     0.851052
humidity_37     0.908078     0.900590     0.921706     1.000000     0.931389
humidity_38     0.853899     0.855513     0.851052     0.931389     1.000000

In [47]:
temp_corr_li[7]

,wind direction_13,wind direction_15,wind direction_17,wind direction_25,wind direction_35
wind direction_13,1.000000,0.120568,-0.003977,0.029207,0.053072
wind direction_15,0.120568,1.000000,0.133061,0.144404,0.093405
wind direction_17,-0.003977,0.133061,1.000000,0.354239,0.205332
wind direction_25,0.029207,0.144404,0.354239,1.000000,0.303246
wind direction_35,0.053072,0.093405,0.205332,0.303246,1.000000

In [57]:
for i in range(len(temp_li[7].columns)) :
    print( temp_li[7].columns[i])
    print( temp_li[7].iloc[:,i].unique() )
    print( len(temp_li[7].iloc[:,i].unique()), "개 ")
    print()
    print()

wind direction_13
[ 71.3 121.8 232.  ...  14.8 298.4 333.1]
2281 개


wind direction_15
[101.1 165.3 144.  ... 151.  102.  234.9]
2316 개


wind direction_17
[ 56.1   0.  294.1 ... 267.7 247.   17.7]
2233 개


wind direction_25
[  2.3   0.  324.5 ... 324.  352.  124.2]
1690 개


wind direction_35
[256.4 215.4 235.2 ... 148.4 184.5 215.2]
2234 개

In [58]:
for i in range(len(temp_li[7].columns)) :
    print( temp_li[7].columns[i])
    print( temp_li[7].iloc[:,i].describe() )
    #print( len(temp_li[7].iloc[:,i].unique()), "개 ")
    print()
    print()

wind direction_13
count    4752.000000
mean      161.357639
std        98.787460
min         0.000000
25%        69.225000
50%       182.600000
75%       228.925000
max       360.000000
Name: wind direction_13, dtype: float64


wind direction_15
count    4752.000000
mean      174.346654
std        97.785811
min         0.000000
25%       115.600000
50%       170.250000
75%       258.400000
max       359.900000
Name: wind direction_15, dtype: float64


wind direction_17
count    4752.000000
mean      161.823864
std       115.943382
min         0.000000
25%        33.875000
50%       190.450000
75%       253.125000
max       360.000000
Name: wind direction_17, dtype: float64


wind direction_25
count    4752.000000
mean      139.524453
std       131.438036
min         0.000000
25%         0.000000
50%       134.150000
75%       270.900000
max       359.900000
Name: wind direction_25, dtype: float64


wind direction_35
count    4752.000000
mean      208.400505
std        99.580562
min         0.000000
25%       155.300000
50%       240.850000
75%       277.800000
max       359.900000
Name: wind direction_35, dtype: float64

In [59]:
train3.loc[:, y_columns].head()

,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17,Y18
0,12.5,11.5,11.0,20.0,20.0,10.5,10.0,10.5,10.0,7.0,7.5,7.0,9.0,10.0,9.5,9.0,8.0,9.0,NaN
1,12.5,11.0,11.0,20.0,20.0,10.0,9.5,10.0,9.5,6.5,7.5,7.0,8.5,10.0,9.5,9.0,7.5,9.0,NaN
2,12.0,11.0,11.0,19.5,19.5,10.0,9.0,10.0,9.0,6.5,7.5,6.5,8.0,9.5,9.5,8.5,7.5,8.5,NaN
3,12.0,11.0,11.0,19.5,19.5,9.5,9.0,9.5,9.0,6.0,7.0,6.0,8.0,9.5,9.0,8.5,7.5,8.5,NaN
4,12.0,10.5,10.5,19.0,19.5,9.5,8.5,9.5,8.5,6.0,7.0,6.0,7.5,9.5,9.0,8.5,7.5,8.5,NaN

In [63]:
y2_col = ['Y18']
y1_col = list(set(y_columns) - set(y2_col))
y1_col.sort()
#y1_col

In [69]:
train3.loc[:, y1_col].notnull().sum()

Y00    4320
Y01    4320
Y02    4320
Y03    4320
Y04    4320
Y05    4320
Y06    4320
Y07    4320
Y08    4320
Y09    4320
Y10    4320
Y11    4320
Y12    4320
Y13    4320
Y14    4320
Y15    4320
Y16    4320
Y17    4320
dtype: int64

In [70]:
train3.loc[:, y2_col].notnull().sum()

Y18    432
dtype: int64

In [64]:
train3.loc[:, y1_col].corr()

,Y00,Y01,Y02,Y03,Y04,Y05,Y06,Y07,Y08,Y09,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Y17
Y00,1.000000,0.945462,0.947184,0.920752,0.919972,0.817688,0.690335,0.585850,0.836851,0.850780,0.869858,0.844218,0.663123,0.909656,0.897737,0.826532,0.798885,0.798477
Y01,0.945462,1.000000,0.996363,0.807446,0.808103,0.913400,0.799784,0.699600,0.932933,0.954373,0.967733,0.959880,0.786007,0.966648,0.943079,0.920245,0.909008,0.919950
Y02,0.947184,0.996363,1.000000,0.804464,0.804596,0.911885,0.814001,0.719153,0.927811,0.955915,0.965284,0.959697,0.796121,0.965006,0.935583,0.927460,0.913493,0.920502
Y03,0.920752,0.807446,0.804464,1.000000,0.997148,0.612025,0.437006,0.323399,0.660726,0.638645,0.677301,0.638896,0.403811,0.737742,0.757141,0.606391,0.564290,0.569647
Y04,0.919972,0.808103,0.804596,0.997148,1.000000,0.611630,0.435704,0.322691,0.661284,0.638685,0.676703,0.638006,0.403173,0.736848,0.760139,0.604150,0.563474,0.571673
Y05,0.817688,0.913400,0.911885,0.612025,0.611630,1.000000,0.840311,0.765256,0.959468,0.938904,0.934263,0.946063,0.848351,0.945240,0.915729,0.909695,0.948366,0.925321
Y06,0.690335,0.799784,0.814001,0.437006,0.435704,0.840311,1.000000,0.965370,0.759324,0.907320,0.866051,0.871295,0.981052,0.814557,0.721275,0.925305,0.942141,0.908549
Y07,0.585850,0.699600,0.719153,0.323399,0.322691,0.765256,0.965370,1.000000,0.663957,0.829001,0.776380,0.786918,0.956972,0.714781,0.626561,0.854803,0.873995,0.852025
Y08,0.836851,0.932933,0.927811,0.660726,0.661284,0.959468,0.759324,0.663957,1.000000,0.930763,0.941026,0.950826,0.765053,0.966148,0.954152,0.893616,0.908566,0.917967
Y09,0.850780,0.954373,0.955915,0.638645,0.638685,0.938904,0.907320,0.829001,0.930763,1.000000,0.991161,0.986593,0.893897,0.959515,0.903679,0.975534,0.970427,0.980137
Y10,0.869858,0.967733,0.965284,0.677301,0.676703,0.934263,0.866051,0.776380,0.941026,0.991161,1.000000,0.989110,0.854818,0.968303,0.918381,0.966201,0.950862,0.968311
Y11,0.844218,0.959880,0.959697,0.638896,0.638006,0.946063,0.871295,0.786918,0.950826,0.986593,0.989110,1.000000,0.861838,0.961367,0.906284,0.961467,0.956266,0.964505
Y12,0.663123,0.786007,0.796121,0.403811,0.403173,0.848351,0.981052,0.956972,0.765053,0.893897,0.854818,0.861838,1.000000,0.804672,0.716066,0.909910,0.948048,0.901719
Y13,0.909656,0.966648,0.965006,0.737742,0.736848,0.945240,0.814557,0.714781,0.966148,0.959515,0.968303,0.961367,0.804672,1.000000,0.963041,0.945247,0.932681,0.935321
Y14,0.897737,0.943079,0.935583,0.757141,0.760139,0.915729,0.721275,0.626561,0.954152,0.903679,0.918381,0.906284,0.716066,0.963041,1.000000,0.862926,0.864683,0.897079
Y15,0.826532,0.920245,0.927460,0.606391,0.604150,0.909695,0.925305,0.854803,0.893616,0.975534,0.966201,0.961467,0.909910,0.945247,0.862926,1.000000,0.963134,0.962282
Y16,0.798885,0.909008,0.913493,0.564290,0.563474,0.948366,0.942141,0.873995,0.908566,0.970427,0.950862,0.956266,0.948048,0.932681,0.864683,0.963134,1.000000,0.956208
Y17,0.798477,0.919950,0.920502,0.569647,0.571673,0.925321,0.908549,0.852025,0.917967,0.980137,0.968311,0.964505,0.901719,0.935321,0.897079,0.962282,0.956208,1.000000